/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-regular, 410);
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-size: cover;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
}

@media (width <= 375px) {
  .page {
    gap: 97px;
  }
}

.header {
  display: grid;
  gap: 20px;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  text-transform: uppercase;
  inline-size: var(--width);
  background-color: var(--bg-color, #fff);
  align-content: center;
  text-align: center;
  border: var(--border);
  padding: var(--padding);
}

.header-title {
  font-size: var(--header-title);
}

.header-subtitle {
  font-size: var(--header-subtitle);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--width);
  background-color: var(--bg-color, #fff);
  gap: 50px;
}

.card-title {
  font-variation-settings: "wght" var(--text-bold);
  border: var(--border);
  padding: 4px 10px;
  font-size: var(--text-size);
}

.card-img {
  position: relative;
}

.article-img {
  display: block;
  max-inline-size: 100%;
  height: var(--height);
  object-fit: cover;
  object-position: center;
  border-inline: var(--border);
  position: relative;
  z-index: 1;
}

.vatermark-img {
  position: absolute;
  inset-block-start: var(--padding-page, 25px);
  inset-inline-end: var(--padding-page, 25px);
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  color: var(--main-text, #000);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--shadow-vatermark, #fff),
    0 1px var(--shadow-vatermark, #fff),
    1px 0 var(--shadow-vatermark, #fff),
    0 -1px var(--shadow-vatermark, #fff);
  z-index: 2;
}

@supports (text-stroke: 1px var(--shadow-vatermark, #fff)) and
  (-webkit-text-stroke: 1px var(--shadow-vatermark, #fff)) {
  .vatermark-img {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-vatermark, #fff);
    text-stroke: 1px var(--shadow-vatermark, #fff);
  }
}

.card-content {
  border: var(--border);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-container {
  padding: 25px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  font-size: var(--text-size);
  line-height: 21px;
}

.buttons-container {
  display: flex;
  padding-inline-end: var(--padding-page, 25px);
  padding-block-end: 22px;
}

.card__like-button {
  inline-size: 130px;
  cursor: pointer;
}

.card__icon-button {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: var(--fill-transparent);
  transition: fill 0.3s linear 0s;
}

.sparks {
  opacity: 0;
}

.heart {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--animation-fill-color-hover);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--animation-fill-color-hover);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s forwards;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--border);
}

.button__text {
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font);
}

.close-button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.save-dialog {
  display: none;
  border: var(--border);
  background-color: var(--bg-color, #fff);
  max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
  gap: 30px;
}

@media (width <= 375px) {
  .save-dialog {
    padding: 30px 40px;
  }
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-message {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.save-message__text {
  text-align: start;
}

.dialog-disket {
  align-self: center;
}

.close-button {
  padding-block: 12.5px;
  width: 100%;
  cursor: pointer;
  align-self: center;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 20px;
  cursor: pointer;
  margin-block-start: -46px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    margin-block-start: -49px;
  }

  .disket-button {
    width: 28px;
    height: 28px;
  }
}

.disket-button {
  filter: invert(1);
  mix-blend-mode: difference;
}

.save-button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
}

.button-fill {
  border: var(--border);
  background-color: var(--bg-btn-color);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button-fill::before {
  content: "";
  position: absolute;
  background-color: var(--bg-btn-hover, #000);
  inset: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-fill:hover::before {
  transform: translateX(0);
}

.button-fill:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--btn-shaddow, #000);
}

.fill-text {
  mix-blend-mode: difference;
  color: var(--hover-text, #fff);
  background-color: var(--bg-hover-text, #000);
  font-weight: normal;
}

.zero-sprint {
  object-position: right;
  filter: saturate(0.5);
}

.elementary-difficulty {
  filter: hue-rotate(-60deg) saturate(2);
}

.img-why-not {
  filter: saturate(37%) blur(1px) contrast(1.1);
  mix-blend-mode: multiply;
}

.img-ideal {
  filter: brightness(0.8) contrast(2.5);
}

.difficulties {
  filter: saturate(2) sepia(60%) blur(1px);
}

.img-concetration {
  filter: hue-rotate(-100deg) blur(1px);
}

.img-questions {
  filter: brightness(1.5) grayscale(1);
}

.img-transformation {
  filter: hue-rotate(180deg) saturate(2);
}
