/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-regular, 410);
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-size: cover;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.header {
  display: grid;
  gap: 20px;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  text-transform: uppercase;
  inline-size: var(--height);
  background-color: #fff;
  align-content: center;
  text-align: center;
  border: var(--border);
  padding: var(--padding);
}

.header-title {
  font-size: var(--header-title);
}

.header-subtitle {
  font-size: var(--header-subtitle);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--height);
  background-color: #fff;
  gap: 50px;
}

.card-title {
  border: var(--border);
  padding-inline: 10px;
  font-size: var(--text-size);
}

.card-img {
  position: relative;
}

.article-img {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  border-inline: var(--border);
}

.vatermark-img {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--shadow-colors, #fff),
    0 1px var(--shadow-colors, #fff),
    1px 0 var(--shadow-colors, #fff),
    0 -1px var(--shadow-colors, #fff);
}

@supports (text-stroke: 1px var(--shadow-colors, #fff)) {
  .vatermark-img {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-colors, #fff);
    text-stroke: 1px var(--shadow-colors, #fff);
  }
}

.card-content {
  border: var(--border);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-container {
  padding: 25px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  font-size: var(--text-size);
  line-height: 21px;
}

.buttons-conteiner {
  display: flex;
  gap: 12px;
  margin: 0 25px 25px auto;
}

.card__like-button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 12px;
  align-items: center;
  
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.button__text {
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font);
  border: var(--border);
  padding: 12.5px 37px;
}

.close-button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.save-dialog {
  display: none;
  border: var(--border);
  background-color: #fff;
  max-inline-size: clamp(21.3125rem, 21.05rem + 1.13vw, 22.0625rem);
  padding: 30px;
  gap: 30px;
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
}

/*Надо починить горизонтальный скролл выше 1100px и доделать анимации*/

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.save-message {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.save-message__text {
  text-align: start;
}

.dialog-disket {
  align-self: center;
}

.close-button {
  border: var(--border);
  padding: 12.5px clamp(7.28125rem, 6.93rem + 1.5vw, 8.28125rem);
  background-color: transparent;
  cursor: pointer;
  align-self: center;
}

.save-button {
  padding: clamp(1.0625rem, 0.99rem + 0.33vw, 1.28125rem);
  background-color: #fff;
  border: var(--border);
  cursor: pointer;
}

.save-button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  padding-inline-start : 8px;
}
